<!DOCTYPE html>
    <html>
    <head>
        <meta name="city" content="{{ city }}">
        <meta name="date_dropdown" content="{{ date_dropdown }}">

    	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.1.1.js') }}">\x3C/script>')</script>
        
        <!-- highcharts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?v=3&amp;key={{ api_key }}&libraries=visualization" type="text/javascript"></script>
        <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script type="text/javascript" src="{{ url_for('static', filename='city.js') }}"></script>   

        <script src="//cdn.jsdelivr.net/jstat/latest/jstat.min.js"></script> 


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- // <script src="{{ url_for('static', filename='dark-unica.js') }}"></script> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- // <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script> -->
        
	
    </head>
    <body align="center">
    	<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <h3 id="date-label">{{ city.upper() | replace("_", " ") }}</h3>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('city', city='baltimore') }}">Baltimore</a></li>
                                <li><a href="{{ url_for('city', city='chicago') }}">Chicago</a></li>
                                <li><a href="{{ url_for('city', city='new_york') }}">New York</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('main_page') }}">Home</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <div data-role="main" class="ui-content">
                <form method="post" action="demoform.asp">
                    <input type="range" name="date-slider" id="date-slider" value="{{ date_dropdown|length // 2 }}"  min="0" max="{{ date_dropdown | length - 1 }}" data-show-value="true" onchange="sliderOption()">
                </form>
            </div>  
            <div id="chart0"></div>
        </div> 
        
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="community" onchange="sliderOption()">
                Neighborhoods
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="heatmap" onchange="sliderOption()">
                Heatmap
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="markers" onchange="sliderOption()">
                Markers
            </label>
        </div>
        
        <div id="map">
            <div id="view-side" class="map"></div>
        </div>
        <div id="right-panel">
            <div class="play"> 
                <button type="button" id="btn-back" class="btn btn-info" value="back"><span class="glyphicon glyphicon-step-backward"></span></button>
                <button type="button" id="btn-play" class="btn btn-info" value="play"><span class="glyphicon glyphicon-play"></span></button>
                <button type="button" id="btn-pause" class="btn btn-info" value="pause"><span class="glyphicon glyphicon-pause"></span></button>
                <button type="button" id="btn-fwd" class="btn btn-info" value="forward"><span class="glyphicon glyphicon-step-forward"></span></button>
            </div>
            <div class="dropdown" id="censusDropdown">
                <select id="myDropdown" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                </select>
            </div>
            <div id="chart1"></div>
            <div id="chart2"></div>
            <div id="chart3"></div>
            <div class="dropdown" id="censusDropdownValue" style="display: inline-block">
                <select id="valueDropdown" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <option value="option1" selected="selected">estimates</option>
                    <option value="option2">percents</option>
                </select>
            </div>

            <div class="dropdown" id="censusDropdownX" style="display: inline-block">
                <b>X</b>: <select id="xDropdown" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                </select>
            </div>
            <div class="dropdown" id="transformX" style="display: inline-block">
                <b>Transform</b>: <select id="xTransform" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <option value="none" selected="selected">X</option>
                    <option value="sqrt">&radic;<span style="text-decoration: overline">X</span></option>
                    <option value="sqrd">X&sup2</option>
                    <option value="log">logX</option>
                </select>
            </div>
            <div class="dropdown" id="censusDropdownY" style="display: inline-block">
                <b>Y</b>: <select id="yDropdown" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                </select>
            </div>
            <div class="dropdown" id="transformY" style="display: inline-block">
                <b>Transform</b>: <select id="yTransform" onchange="dropDownSelect()" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <option value="none" selected="selected">Y</option>
                    <option value="sqrt">&radic;<span style="text-decoration: overline">Y</span></option>
                    <option value="sqrd">Y&sup2</option>
                    <option value="log">logY</option>
                </select>
            </div>
            <div id="chart4"></div>
        </div>
        
    </body>
</html>